.profile {
  display: flex;
  align-items: flex-start;
  position: relative;
  .lk-nav {
    position: sticky;
  }
  &__inner {
    width: 125rem;
    padding-top: 6.3rem;
  }
  .card-user-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  @include tab {
    display: block;
    .lk-nav {
      position: static;
    }
    &__inner {
      width: 100%;
      padding-top: 3.2rem;
    }
    .card-user-wrapper {
      padding-left: 0;
      padding-right: 0;
    }
    .base-tab__open-req {
      margin-bottom: 3.2rem;
    }
  }
}

.profile-edit {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  &__block {
    padding: 3.2rem;
    border-radius: 2rem;
    background-color: $white;
    @include block-shadow2;
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3.2rem;
    border-bottom: 0.1rem solid $lightgrey;
  }
  &__mtitle {
    font-size: 2rem;
    font-weight: 500;
  }
  @include tab {
    &__inner {
      gap: 3rem;
    }
    &__block {
      padding: 0;
      border-radius: 1.2rem;
      box-shadow: none;
      background-color: transparent;
      &--contact {
        .profile-edit__head {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
    &__head {
      gap: 0.8rem;
      border-bottom: none;
      padding: 0 2.4rem 2.4rem;
      @include mob {
        padding: 0 1.6rem 1.6rem;
      }
    }
    &__content {
      border-radius: 1.2rem;
      background-color: $white;
      @include block-shadow2;
    }
    &__mtitle {
      font-size: 1.8rem;
    }
  }
}

.edit-contact {
  &__item {
    padding: 3.2rem 0;
    border-bottom: 0.1rem solid $lightgrey;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__name {
    flex: 2;
    font-size: 1.8rem;
    font-weight: 500;
    color: $darkgrey;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    img {
      width: 2rem;
      height: 2rem;
      flex-shrink: 0;
    }
  }
  &__value {
    font-size: 1.8rem;
    flex: 8;
    a {
      color: $linkblue;
    }
  }
  &__change {
    color: $linkblue;
    flex: 2;
    display: flex;
    justify-content: flex-end;
    &>svg {
      display: none;
    }
    &.hide {
      display: none;
    }
  }
  &__body {
    padding-top: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    &.hide {
      display: none;
    }
  }
  &__input {
    flex: 10;
    padding: 1.4rem;
    background-color: #f8f8f8;
    border: none;
    border-radius: 1.6rem;
  }
  &__action {
    flex: 10;
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  &__logo-change {
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width: 9rem;
    height: 9rem;
  }
  &__logo-icon {
    position: absolute;
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    bottom: 1.3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    color: #000;
    img {
      @include img-contain;
    }
  }
  &__logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    img {
      @include img-contain;
    }
  }
  @include tab {
    &__item {
      padding: 2.4rem;
      @include mob {
        padding: 1.6rem;
      }
      &--logo {
        .edit-contact__value {
          display: none;
        }
      }
    }
    &__row {
      flex-wrap: wrap;
      gap: 0.8rem;
    }
    &__name {
      flex: unset;
      font-size: 1.2rem;
      order: -2;
    }
    &__value {
      font-size: 1.4rem;
      flex: unset;
      width: 100%;
    }
    &__change {
      flex: unset;
      font-size: 0;
      order: -1;
      &>svg {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        flex-shrink: 0;
        display: inline-block;
      }
    }
    &__body {
      padding-top: 3.2rem;
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      &.hide {
        display: none;
      }
    }
    &__input {
      flex: 10;
      padding: 1.4rem;
      background-color: #f8f8f8;
      border: none;
      border-radius: 1.6rem;
    }
    &__action {
      flex: 10;
      display: flex;
      align-items: center;
      gap: 1.6rem;
    }
    &__logo-change {
      border-radius: 1rem;
      width: 4.8rem;
      height: 4.8rem;
    }
    &__logo-icon {
      bottom: 0.2rem;
    }
  }
}

.edit-about {
  &__text {
    font-size: 1.8rem;
    padding-top: 2.4rem;
    &.hide {
      display: none;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding-top: 2.4rem;
    &.hide {
      display: none;
    }
  }
  &__textarea {
    width: 100%;
    height: 24rem;
    padding: 1.4rem;
    background-color: #f8f8f8;
    border: none;
    border-radius: 1.6rem;
  }
  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.6rem;
  }
  &__more {
    display: none;
  }
  @include tab {
    &__text {
      font-size: 1.4rem;
      padding: 2.4rem;
      @include mob {
        padding: 1.6rem;
      }
      &-part {
        &.hide {
          display: none;
        }
      }
    }
    &__body {
      gap: 1.6rem;
      padding: 2.4rem;
      @include mob {
        padding: 1.6rem;
      }
    }
    &__textarea {
      width: 100%;
      height: 20rem;
    }
    &__more {
      border-top: 0.1rem solid $lightgrey;
      display: flex;
      justify-content: center;
      padding: 2.4rem;
      @include mob {
        padding: 1.6rem;
      }
      &.hide {
        display: none;
      }
    }
  }
}

.edit-requisites {
  &__item {
    padding: 3.2rem 0;
    border-bottom: 0.1rem solid $lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__name {
    flex: 3;
    font-size: 1.8rem;
    font-weight: 500;
    color: $darkgrey;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    img {
      width: 2rem;
      height: 2rem;
      flex-shrink: 0;
    }
  }
  &__value {
    font-size: 1.8rem;
    flex: 7;
    a {
      color: $linkblue;
    }
  }
  &__input {
    flex: 7;
    padding: 1.4rem;
    background-color: #f8f8f8;
    border: none;
    border-radius: 1.6rem;
    display: none;
  }
  &__action {
    flex: 10;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.6rem;
    display: none;
  }
  &.active {
    .edit-requisites {
      &__value {
        display: none;
      }
      &__input {
        display: block;
      }
      &__action {
        display: flex;
      }
    }
  }
  @include tab {
    &__inner {
      padding: 2.4rem;
      @include tab {
        padding: 1.6rem;
      }
    }
    &__item {
      padding: 0.8rem 0;
      border-bottom: none;
      display: block;
    }
    &__name {
      font-size: 1.2rem;
      margin-bottom: 0.8rem;
    }
    &__value {
      font-size: 1.4rem;
    }
    &__input {
      width: 100%;
      font-size: 1.4rem;
      border-radius: 1.2rem;
    }
    &.active {
      .edit-requisites {
        &__value {
          display: none;
        }
        &__input {
          display: block;
        }
        &__action {
          display: flex;
        }
      }
    }
  }
}