$white: #FFFFFF;
$bckgrnd: #FDFDFD;
$bckgrnd2: #F8F8F8;
$lightgrey: #E6E6E6;
$darkgrey: #8C8C8C;
$black: #2C2C31;
$green: #0F582D;
$green2: #749E85;
$green3: #2FA51C;
$palegreen: #ECF4ED;
$orange: #FCB040;
$paleorange: #F8F1EC;
$linkblue: #0084CF;
$paleblue: #ECF0F4;
$red: #FF0000;
$palered: #FFE5E5;




$accent: #50A15F;
$white: #ffffff;
$dark: #171C1D;
$light: #F0F3F6;
$green-light: #EEF3EF;
$grey: #5A6E72;
$grey-light: #F0F3F6;
$brd-grey: $grey;
$brd-accent: $accent;
$error: $red;

$container-width: 164rem;
$brz: 1rem;

$main-font: 'TRY Grtsk';
$title-font: 'TRY Grtsk';