.card-ad-top {
  margin-bottom: 4.8rem;
  &__top {
    margin-bottom: 1.6rem;
  }
  &__inner {
    .only-on-mobile {
      display: none;
    }
  }
  &__img, &__price, &__hr {
    display: none;
  }
  &__date {
    color: $darkgrey;
    margin-bottom: 1.6rem;
  }
  &__tag {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    margin-bottom: 2.4rem;
    .tag-torg {
      display: none;
    }
  }
  &__table {
    margin-bottom: 3.2rem;
    table {
      border-collapse: collapse;
      border-spacing: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      table-layout: fixed;
    }

    table,
    th,
    td {
      border: none;
    }
    
    table {
      border-collapse: separate;
      border-spacing: 0 1.6rem;
    }

    th,
    td {
      padding: 0;
      margin: 0;
      text-align: left;
    }

    
    table,
    th,
    td {
      background: none;
      color: inherit;
    }

    /* Remove table headers and caption styles */
    caption,
    th {
      font-weight: normal;
      text-align: left;
    }

    /* Remove any default font styling */
    table,
    th,
    td,
    caption {
      font: inherit;
    }

    tbody {
      font-size: 1.8rem;
    }


    tr {
      &.hide {
        display: none;
      }
    }
    th {
      div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      svg {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        margin-right: 0.8rem;
      }
    }
    td {
      height: 10rem;
      @include block-shadow2;
    }
    td, th {
      padding: 1.5rem;
      background-color: $white;
      div {
        text-align: center;
      }
      &:first-child {
        border-radius: 2.4rem 0 0 2.4rem;
      }
      &:last-child {
        border-radius: 0 2.4rem 2.4rem 0;
      }
    }
    dl, dt, dd {
      margin: 0;
      padding: 0;
      text-align: center;
    }
    dt {
      display: none;
    }
  }
  &__table-more {
    display: flex;
    justify-content: center;
    margin-top: 2.4rem;
  }
  &__list {
    display: none;
  }
  @include tab {
    padding: 0 2.4rem;
    margin-bottom: 0;
    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__inner {
      .only-on-mobile {
        display: inline-flex;
      }
    }
    &__title {
      display: flex;
      align-items: center;
    }
    &__img {
      display: inline-block;
      width: 5.2rem;
      height: 5.2rem;
      object-fit: contain;
      flex-shrink: 0;
      margin-right: 0.8rem;
    }
    &__price {
      display: inline-block;
      font-size: 2.2rem;
      font-weight: 500;
      white-space: nowrap;
    }
    &__date {
      display: none;
    }
    &__tag {
      margin-bottom: 2.4rem;
      .tag-torg {
        display: inline-flex;
      }
    }
    &__hr {
      display: block;
      position: relative;
      width: 100vw;
      left: -2.4rem;
      height: 1px;
      background-color: $lightgrey;
      margin-bottom: 2.4rem;
    }
    &__h2 {
      margin-bottom: 2.4rem;
      display: none;
    }
    &__table {
      display: none;
    }
    &__table-more {
      padding-bottom: 2.4rem;
    }
    &__list {
      display: block;
      ul {
        margin-bottom: 2.4rem;
      }
      li {
        padding: 0.8rem 1.6rem;
        background-color: $bckgrnd2;
        border-radius: 0.8rem;
        margin-bottom: 1.6rem;
        &:last-child {
          margin-bottom: 0;
        }
        &.hide {
          display: none;
        }
      }
      dl {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        font-size: 1.7rem;
      }
      dt, dd {
        display: inline-flex;
        align-items: center;
        svg {
          width: 2rem;
          height: 2rem;
          object-fit: contain;
          margin-left: 0.4rem;
        }
      }
      dd {
        text-align: right;
      }
    }
  }
  @include mob {
    padding: 0 1.6rem;
    &__top {
      display: block;
      margin-bottom: 1.6rem;
    }
    &__title {
      display: block;
      margin-bottom: 0.8rem;
    }
    &__img {
      display: none;
    }
    &__price {
      font-size: 1.6rem;
    }
    &__list {
      ul {
        margin-bottom: 2.4rem;
      }
      li {
        padding: 0.8rem 0.8rem;
      }
      dl {
        font-size: 1.2rem;
      }
    }
  }
}
