.security-wrapper {
  display: flex;
}

.security {
  &__main {
    width: 124.8rem;
    margin-top: 6.3rem;
    margin-bottom: 10rem;
    padding: 3.2rem;
    border-radius: 2rem;
    background: #ffffff;
    box-shadow: 2px 20px 20px rgba(119, 119, 119, 0.03),
      4px 20px 20px rgba(115, 115, 115, 0.01);
  }

  &__title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3.2rem;
  }

  &__item {
    border-bottom: 1px solid #e5e5e5;
    padding: 3.2rem 0 3rem 0;

    &:first-of-type {
      border-top: 1px solid #e5e5e5;
    }

    &:last-child {
      border-bottom: none;
      padding: 3rem 0 0 0;
    }
  }

  &__header-wrapper {
    display: flex;
  }

  &__header {
    display: flex;
    flex-grow: 1;
  }

  &__label,
  &__info {
    font-size: 1.8rem;
  }

  &__label {
    color: #8c8c8c;
    width: 20rem;
  }

  &__toggle {
    color: #0084cf;
    cursor: pointer;
    font-size: 1.8rem;
    display: block;
    margin-bottom: 5px;
  }

  &__input {
    display: none;
  }

  &__body {
    display: none;
    padding-top: 3.2rem;

    &__input-wrapper {
      display: flex;
      align-items: baseline;
    }

    &__title {
      font-size: 1.8rem;
      color: #8c8c8c;
      width: 20rem;
    }
  }

  .security__input:checked ~ .security__body {
    display: block;
  }

  &__input-field {
    width: 98.4rem;
    padding: 1.4rem;
    margin-bottom: 2.4rem;
    background-color: #f8f8f8;
    border: none;
    border-radius: 1.6rem;
  }

  &__bottom-section {
    margin-left: 20rem;
  }

  &__link {
    display: block;
    color: #0084cf;
    margin-bottom: 10px;
  }

  &__actions {
    display: flex;
    gap: 0.8rem;
  }

  &__button-save,
  &__button-cancel {
    padding: 1.4rem 0;
    border-radius: 1.6rem;
    cursor: pointer;
    font-size: 1.6rem;
    width: 24rem;
  }

  &__button-save {
    background-color: #ecf0f4;
  }

  &__button-cancel {
    border: 1px solid #e5e5e5;
    text-align: center;
  }
}
