.security-wrapper {
  display: flex;

  @include tab {
    flex-direction: column;
  }
}

.security {
  &__main {
    width: 124.8rem;
    margin-top: 6.3rem;
    margin-bottom: 10rem;
    padding: 3.2rem;
    border-radius: 2rem;
    background: #ffffff;
    box-shadow: 2px 20px 20px rgba(119, 119, 119, 0.03),
      4px 20px 20px rgba(115, 115, 115, 0.01);

    @include tab {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3.2rem;

    @include tab {
      display: none;
    }
  }

  &__title-mobile {
    display: none;

    @include tab {
      display: block;
      font-size: 1.8rem;
      margin-bottom: 2.4rem;
      margin-top: 3rem;
      margin-left: 1.6rem;
    }
  }

  &__item {
    border-bottom: 1px solid #e5e5e5;
    padding: 3.2rem 0 3rem 0;

    &:first-of-type {
      border-top: 1px solid #e5e5e5;
    }

    &:last-child {
      border-bottom: none;
      padding: 3rem 0 0 0;
    }

    @include tab {
      padding: 1.6rem;

      &:first-of-type {
        border-top: none;
      }

      &:last-child {
        padding: 1.6rem;
        margin-bottom: 3rem;
      }
    }
  }

  &__header-wrapper {
    display: flex;
  }

  &__header {
    display: flex;
    flex-grow: 1;

    @include tab {
      flex-direction: column;
      gap: 1.6rem;
    }

    &--password {
      &__label-mob {
        display: none;

        @include tab {
          display: block;
        }
      }
    }
  }

  &__label,
  &__info {
    font-size: 1.8rem;

    @include tab {
      font-size: 1.4rem;
    }
  }

  &__label {
    color: #8c8c8c;
    width: 20rem;

    @include tab {
      font-size: 1.2rem;
    }
  }

  &__toggle {
    color: #0084cf;
    font-size: 1.8rem;
    display: block;
    margin-bottom: 5px;
    cursor: pointer;

    img {
      display: none;

      @include tab {
        display: block;
        width: 1.8rem;
        height: 1.8rem;
      }
    }

    @include tab {
      span {
        display: none;
      }
    }
  }

  &__input {
    display: none;
  }

  &__body {
    display: none;
    padding-top: 3.2rem;

    @include tab {
      padding-top: 1.6rem;
    }

    &__input-wrapper {
      display: flex;
      align-items: baseline;
    }

    &__title {
      font-size: 1.8rem;
      color: #8c8c8c;
      width: 20rem;

      @include tab {
        display: none;
      }
    }
  }

  .security__input:checked ~ .security__body {
    display: block;
  }

  &__input-field {
    width: 98.4rem;
    padding: 1.4rem;
    margin-bottom: 2.4rem;
    background-color: #f8f8f8;
    border: none;
    border-radius: 1.6rem;

    @include tab {
      margin-bottom: 1.6rem;
      padding: 1rem 0.8rem 1.3rem 0.8rem;
      border-radius: 0.8rem;
    }
  }

  &__input-field::placeholder {
    color: transparent;

    @include tab {
      color: #8c8c8c;
      font-size: 1.2rem;
    }
  }

  &__bottom-section {
    margin-left: 20rem;

    @include tab {
      margin-left: 0;
    }
  }

  &__link {
    display: block;
    color: #0084cf;
    cursor: pointer;
    margin-bottom: 10px;

    @include tab {
      font-size: 1.2rem;
    }
  }

  &__link--pass {
    margin-left: 20rem;
    margin-bottom: 2.4rem;

    @include tab {
      margin-top: 0rem;
      margin-bottom: 1.6rem;
      margin-left: 0rem;
    }
  }

  &__actions {
    display: flex;
    gap: 0.8rem;

    @include tab {
      gap: 0;
    }
  }

  &__button-save,
  &__button-cancel {
    padding: 1.4rem 0;
    border-radius: 1.6rem;
    cursor: pointer;
    font-size: 1.6rem;
    width: 24rem;

    @include tab {
      padding: 1rem 0rem;
      margin-top: 0.8rem;
    }
  }

  &__button-save {
    background-color: #ecf0f4;

    @include tab {
      min-width: 28.8rem;
      font-size: 1.4rem;
      border-radius: 0.8rem;
    }
  }

  &__button-cancel {
    border: 1px solid #e5e5e5;
    text-align: center;

    img {
      display: none;
    }

    @include tab {
      border: none;

      span {
        display: none;
      }

      img {
        display: block;
        position: relative;
        bottom: 22.6rem;
        right: 1.8rem;
        width: 1.8rem;
        height: 1.8rem;
      }

      .pass-close {
        bottom: 26rem;
      }

      .phone-close {
        bottom: 14.2rem;
      }
    }
  }

  &__email-upd-notification {
    position: absolute;
    top: 27.6rem;
    right: 35.5rem;
    display: flex;
    width: 57.3rem;
    align-items: center;
    gap: 0.5rem;
    padding: 0.8rem;
    background-color: #ecf0f4;
    color: #0084cf;
    border-radius: 1.6rem;

    span {
      font-size: 1.2rem;
    }

    img {
      width: 1.6rem;
      height: 1.6rem;
    }

    @include tab {
      position: static;
      width: 28.8rem;
      align-items: normal;
      padding: 1.6rem;
      margin: 1.6rem;
    }
  }

  &__password-upd-notification {
    justify-content: center;
    position: absolute;
    top: 27.6rem;
    right: 35.5rem;
    display: flex;
    width: 21.3rem;
    align-items: center;
    gap: 0.5rem;
    padding: 0.8rem;
    background-color: #ebf4ec;
    color: #10572d;
    border-radius: 1.6rem;

    span {
      font-size: 1.2rem;
    }

    img {
      width: 1.7rem;
      height: 1.3rem;
    }

    @include tab {
      position: static;
      width: 28.8rem;
      align-items: normal;
      padding: 1.6rem;
      margin: 1.6rem;
    }
  }
}

#body-pass {
  padding-top: 0rem;

  @include tab {
    padding-top: 1.6rem;
  }
}
