.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba($color: $bckgrnd, $alpha: 1);
  transition: background-color .25s ease-in-out;
  &.scroll {
    transform: translateY(-100%);
    transform: translateY(0%);
  }
  &.down {
    transform: translateY(0%);
  }

  &__inner {
    display: flex;
    align-items: center;
    padding: 2.4rem 0;
  }

  &__logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 2.2rem;
    font-weight: bold;
    margin-right: 4rem;

    svg {
      color: $orange;
      width: 2.6rem;
      height: 4rem;
      object-fit: contain;
      margin-right: 0.5rem;
    }
  }

  &__actions {
    margin-left: 4rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__act {
    width: 5rem;
    height: 5rem;
    padding: 1.2rem;

    svg {
      @include img-contain;
    }

    &.trig-open-search.hide {
      display: none;
    }
  }

  &__add-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white;
    background-color: $orange;
    padding: 1.4rem 1.6rem;
    border-radius: 1.6rem;
    transition: all 200ms;
    margin-left: 2.4rem;
    white-space: nowrap;
    &:hover {
      background-color: #FF9B08;
    }
  }

  &__burger-wrap {
    display: none;
  }

  @include tab {
    backdrop-filter: unset;
    background-color: rgba($color: $bckgrnd, $alpha: 1);
    border-bottom: 0.16rem solid $palegreen;
    &.open &__inner {
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $white;
        width: 100%;
        height: 8rem;
        z-index: 21;
      }
    }
    &__logo {
      font-size: 1.7rem;
      margin-right: 0;
      position: relative;
      z-index: 22;
  
      svg {
        width: 2.1rem;
        height: 3.1rem;
        margin-right: 0.4rem;
      }
    }
  
    &__actions {
      gap: 1.2rem;
      margin-left: auto;
    }
  
    &__act {
      width: 4rem;
      height: 4rem;
      padding: 0.6rem;
      &.trig-open-search.hide {
        display: inline-block;
      }
    }
  
    &__add-btn {
      display: none;
    }

    &__burger-wrap {
      display: block;
      padding: 0.6rem;
      margin-left: 1.2rem;
    }

    &__burger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 2rem;
      height: 1.8rem;
      position: relative;
      z-index: 21;
      &:before,
      &:after,
      & div {
        background: $black;
        content: "";
        display: block;
        height: 0.2rem;
        border-radius: 0.2rem;
        transition: 0.5s;
      }
      &.active:before {
        transform: translateY(0.8rem) rotate(135deg);
      }
      &.active:after {
        transform: translateY(-0.8rem) rotate(-135deg);
      }
      &.active div {
        transform: scale(0);
      }
    }
  }


  @include mob {
    &.open &__inner {
      padding: 1.6rem 0;
      &::before {
        height: 5.6rem;
      }
    }
    &__logo {
      font-size: 1.3rem;
      margin-right: 0;
  
      svg {
        width: 1.5rem;
        height: 2.3rem;
        margin-right: 0.3rem;
      }
    }
  
    &__actions {
      gap: 0.8rem;
    }
  
    &__act {
      width: 2.4rem;
      height: 2.4rem;
      padding: 0.5rem;
    }

    &__burger-wrap {
      padding: 0.5rem;
      margin-left: 0.8rem;
    }

    &__burger {
      width: 1.5rem;
      height: 1.4rem;
      position: relative;
      &:before,
      &:after,
      & div {
        background: $black;
        content: "";
        display: block;
        height: 0.2rem;
        border-radius: 0.2rem;
        transition: 0.5s;
      }
      &.active:before {
        transform: translateY(0.55rem) rotate(135deg);
      }
      &.active:after {
        transform: translateY(-0.65rem) rotate(-135deg);
      }
      &.active div {
        transform: scale(0);
      }
    }
  }
}

.nav {
  opacity: 1;
  transition: opacity 400ms;
  &.hide {
    width: 0;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
  }
  &__list {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 500;
    gap: 3.2rem;
    b {
      font-weight: 600;
    }
    li {
      display: inline-flex;
      align-items: center;
      gap: 1rem;
      transition: all 200ms;
      &.active {
        svg {
          transform: rotate(-180deg);
        }
      }
      svg {
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        flex-shrink: 0;
        cursor: pointer;
        transition: all 200ms;
      }
      &:hover {
        color: $linkblue;
        a {
          border-bottom: none;
        }
      }
    }
    a {
      display: inline-block;
      padding: 0.8rem;
      &:hover {
        border-bottom: 0.1rem solid $black;
      }
    }
  }
  &__item {
    &.active > a {
      font-weight: 500;
      text-decoration: underline;
    }
  }
  @include tab {
    opacity: 0;
    transition: all 400ms;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateY(-120%);
    width: 100%;
    height: 100vh;
    background-color: $white;
    overflow: auto;
    padding: 8rem 1.6rem;
    z-index: 20;
    &.open {
      transform: translateY(0%);
      opacity: 1;
    }
    &__list {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      font-size: 1.8rem;
      font-weight: 500;
      gap: 0;
      &>li {
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: space-between;
        border-bottom: 0.1rem solid $lightgrey;
        svg {
          width: 2.4rem;
          height: 2.4rem;
        }
        &:hover {
          color: $black;
        }
      }
      a {
        display: inline-block;
        padding: 2rem 0;
        &:hover {
          border-bottom: 0.1rem solid $black;
        }
      }
    }
  }
  @include mob {
    padding: 5rem 1.6rem;
    &__list {
      font-size: 1.4rem;
    }
  }
}

.header-search {
  margin-left: auto;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  width: 0;
  transition: width 0ms;
  &.open {
    transition: width 400ms ease-in;
    width: 120rem;
  }
  &__magnific {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 100%;
    background-color: $bckgrnd2;
    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
  &__input {
    font-size: 1.4rem;
    flex-grow: 1;
    padding: 1rem;
    border-bottom: 1px solid $lightgrey;
    &::placeholder {
      color: $darkgrey;
    }
  }
  &__close {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    color: $black;
    svg {
      @include img-contain;
    }
  }
  @include tab {
    padding: 2.421rem 2.4rem;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    height: auto;
    overflow: hidden;
    width: 100%;
    transition: width 0ms;
    background-color: $white;
    transform: translateY(-200%);
    z-index: 100;
    @include block-shadow2;
    &.open {
      transition: width 400ms ease-in;

      transform: translateY(0);
      width: 100vw;
    }
    &__magnific {
      width: 2.4rem;
      height: 2.4rem;
      svg {
        width: 1.6rem;
        height: 1.6rem;
      }
    }
    &__input {
      font-size: 1.6rem;
      flex-grow: 1;
      padding: rem;
      border-bottom: none;
    }
    &__close {
      width: 2.4rem;
      height: 2.4rem;
      position: relative;
      right: 0;
      top: 0;
      transform: translateY(0);
    }
  }
  @include mob {
    padding: 1.221rem 1.6rem;
    &.open {
      transform: translateY(0%);
    }
    &__magnific {
      width: 2.4rem;
      height: 2.4rem;
      svg {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
    &__input {
      font-size: 1.2rem;
      flex-grow: 1;
      padding: 0.8rem;
      border-bottom: none;
    }
    &__close {
      width: 2.4rem;
      height: 2.4rem;
      position: relative;
      right: 0;
      top: 0;
      transform: translateY(0);
    }
  }
}

.nav-drop {
  position: absolute;
  left: 0;
  top: calc(100% + 0.8rem);
  width: 100%;
  display: flex;
  display: none;
  z-index: 100;
  &.open {
    display: flex;
  }
  &--supply {
    padding-left: 22rem;
  }
  &--demand {
    padding-left: 44rem;
    padding-left: 22rem;
  }
  &__inner {
    display: flex;
    background-color: $white;
    padding: 3.2rem;
    border-radius: 2rem;
    box-shadow: 0 1.2rem 4.6rem 0 rgba(23, 15, 73, 0.19);
  }
  &__left {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding-right: 6rem;
    border-right: 1px solid $darkgrey;
  }
  &__title {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    &:hover {
      .svg-wrap {
        transform: translateY(200%);
      }
    }
    .str {
      display: flex;
      align-items: center;
      margin-right: 2.4rem;
    }
    &.active .nav-drop__arrow{
      transform: translateX(1rem);
    }
  }
  &__icon {
    width: 6.4rem;
    height: 6.4rem;
    flex-shrink: 0;
    margin-right: 0.8rem;
    position: relative;
    overflow: hidden;
    background-color: #f8f1ed;
    border-radius: 1.4rem;
    .svg-wrap {
      position: relative;
      transition: transform 300ms;
      svg {
        margin-left: 0;
        margin-right: 0;
      }
    }
    svg {
      width: 6.4rem;
      height: 6.4rem;
      object-fit: contain;
      flex-shrink: 0;
      margin-left: 1rem;
      transition: transform 200ms;
      &:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-200%);
      }
    }
  }
  &__arrow {
    width: 2.4rem;
    height: 2.4rem;
    flex-shrink: 0;
    margin-left: auto;
    transition: all 200ms;
    svg {
      @include img-contain;
    }
  }
  &__right {
    padding-left: 6rem;
  }
  &__block {
    display: none;
    &.open {
      display: block;
    }
  }
  &__subtitle {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3.2rem;
  }
  &__lists {
    display: flex;
  }
  &__list {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-right: 8rem;
    &:last-child {
      margin-right: 0;
    }
    li {
      white-space: nowrap;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      color: $darkgrey;
      margin-left: 0.2em;
    }
  }
  @include tab {
    position: static;
    left: auto;
    top: auto;
    bottom: auto;
    width: 100%;
    height: auto;
    padding-bottom: 1.4rem;
    &.open {
      display: block;
    }
    &--supply {
      padding-left: 0;
    }
    &--demand {
      padding-left: 0;
    }
    &__inner {
      display: block;
      padding: 0;
      border-radius: 0;
      box-shadow: none;
    }
    &__left {
      gap: 2rem;
      padding-right: 0;
      border-right: none;
    }
    &__title {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: flex-end;
      .str {
        display: flex;
        align-items: center;
        margin-right: 0;
        padding: 0;
        font-size: 1.6rem;
        font-weight: 500;
      }
      &.active .nav-drop__arrow{
        transform: rotate(270deg);
      }
    }
    &__icon {
      display: none;
    }
    &__arrow {
      width: 2rem;
      height: 2rem;
      margin-left: 0;
      margin-right: 0.4rem;
      transform: rotate(180deg);
    }
    &__right {
      padding-left: 0;
    }
    &__block {
      display: none;
      width: 100%;
      &.open {
        display: block;
      }
    }
    &__subtitle {
      display: none;
    }
    &__lists {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-top: 1.4rem;
      padding-bottom: 1.4rem;
    }
    &__list {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-right: 0;
      &:last-child {
        margin-right: 0;
      }
      li {
        white-space: wrap;
        padding-left: 2.4rem;
      }
      span {
        display: none;
      }
      a {
        font-size: 1.6rem;
        padding: 0;
        font-weight: 400;
      }
    }
  }
  @include mob {
    position: static;
    left: auto;
    top: auto;
    bottom: auto;
    width: 100%;
    height: auto;
    padding-bottom: 1.4rem;
    &.open {
      display: block;
    }
    &--supply {
      padding-left: 0;
    }
    &--demand {
      padding-left: 0;
    }
    &__inner {
      display: block;
      padding: 0;
      border-radius: 0;
      box-shadow: none;
    }
    &__left {
      gap: 1.6rem;
      padding-right: 0;
      border-right: none;
    }
    &__title {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: flex-end;
      .str {
        display: flex;
        align-items: center;
        margin-right: 0;
        padding: 0;
        font-size: 1.4rem;
        font-weight: 500;
      }
      &.active .nav-drop__arrow{
        transform: rotate(270deg);
      }
    }
    &__icon {
      display: none;
    }
    &__arrow {
      width: 2rem;
      height: 2rem;
      margin-left: 0;
      margin-right: 0.4rem;
      transform: rotate(180deg);
    }
    &__right {
      padding-left: 0;
    }
    &__block {
      display: none;
      width: 100%;
      &.open {
        display: block;
      }
    }
    &__subtitle {
      display: none;
    }
    &__lists {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-top: 1.4rem;
      padding-bottom: 1.4rem;
    }
    &__list {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-right: 0;
      &:last-child {
        margin-right: 0;
      }
      li {
        white-space: wrap;
        padding-left: 2.4rem;
      }
      span {
        display: none;
      }
      a {
        font-size: 1.4rem;
        padding: 0;
        font-weight: 400;
      }
    }
  }
}