.banner-entity {
  margin-bottom: 3.2rem;
  &__inner {
    position: relative;
    padding: 7.2rem 7.5rem;
    border-radius: 2rem;
    overflow: hidden;
    background-color: #ECF4ED;
  }
  &__content {
    width: 57.8rem;
    position: relative;
    z-index: 5;
  }
  &__title {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
  }
  &__img {
    position: absolute;
    object-fit: contain;
    &--1 {
      width: 36%;
      height: 100%;
      top: 0;
      right: 5.4rem;
      z-index: 4;
    }
    &--2 {    
      width: 26%;
      height: 100%;
      top: 4rem;
      right: 36rem;
      z-index: 3;
    }
    &--3 {
      width: 100%;
      height: 100%;
      top: -37rem;
      right: 0;
      z-index: 2;
    }
  }
  @include tab {
    &__inner {
      padding: 6.6rem 2.4rem;
      padding-bottom: 15rem;
    }
    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__title {
      font-size: 2.2rem;
      text-align: center;
    }
    &__img {
      position: absolute;
      object-fit: contain;
      &--1 {
        width: 80%;
        height: 15rem;
        top: auto;
        bottom: -2.5rem;
        right: -4.3rem;
        z-index: 4;
      }
      &--2 {    
        width: 41%;
        height: 13rem;
        top: auto;
        bottom: -4rem;
        right: auto;
        left: 0rem;
        z-index: 3;
      }
      &--3 {
        width: 190%;
        height: 100%;
        top: auto;
        bottom: 0rem;
        right: auto;
        left: 0rem;
        z-index: 2;
      }
    }
  }
  @include mob {
    &__inner {
      padding: 4.6rem 1.6rem;
      padding-bottom: 12rem;
    }
    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__title {
      font-size: 2rem;
      text-align: center;
    }
    &__img {
      position: absolute;
      object-fit: contain;
      &--1 {
        width: 80%;
        height: 13rem;
        top: auto;
        bottom: -2rem;
        right: -3.3rem;
        z-index: 4;
      }
      &--2 {    
        width: 41%;
        height: 10rem;
        top: auto;
        bottom: -3rem;
        right: auto;
        left: 0rem;
        z-index: 3;
      }
      &--3 {
        width: 190%;
        height: 100%;
        top: auto;
        bottom: 0rem;
        right: auto;
        left: 0rem;
        z-index: 2;
      }
    }
  }
}

.page-banner {
  padding: 0 3.2rem;
  margin-bottom: 3.2rem;
  &--about {
    .page-banner {
      &__title {
        font-size: 8rem;
      }
      &__inner {
        padding: 8.6rem 2.4rem;
      }
    }
  }
  &__inner {
    padding: 8.8rem 2.4rem;
    position: relative;
    min-height: 30rem;
  }
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 3.2rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    text-align: center;
    color: $white;
    position: relative;
    z-index: 2;
  }
  &__title {
    font-size: 4.2rem;
    font-weight: 500;
    margin-bottom: 2.4rem;
  }
  &__text {
    font-size: 1.8rem;
    font-weight: 500;
  }
  @include tab {
    padding: 0;
    margin-bottom: 5rem;
    &--about {
      .page-banner {
        &__title {
          font-size: 2.2rem;
        }
        &__inner {
          padding: 2.6rem;
          min-height: 21rem;
        }
      }
    }
    &__inner {
      padding: 2.4rem;
      position: relative;
      min-height: 28rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__bg {
      border-radius: 2.4rem;
    }
    &__content {
      text-align: center;
      color: $white;
      position: relative;
      z-index: 2;
    }
    &__title {
      font-size: 2.2rem;
      margin-bottom: 0;
    }
    &__text {
      margin-top: 2rem;
      font-size: 1.6rem;
      // display: none;
    }
  }
  @include mob {
    padding: 0;
    margin-bottom: 4rem;
    &--about {
      .page-banner {
        &__title {
          font-size: 2rem;
        }
        &__inner {
          padding: 2.4rem;
          min-height: 19rem;
        }
      }
    }
    &__inner {
      padding: 2.4rem;
      position: relative;
      min-height: 28rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__bg {
      border-radius: 2rem;
    }
    &__content {
      text-align: center;
      color: $white;
      position: relative;
      z-index: 2;
    }
    &__title {
      font-size: 2rem;
      margin-bottom: 0;
    }
    &__text {
      margin-top: 1.6rem;
      font-size: 1.4rem;
      // display: none;
    }
  }
}