.partners-slider {
  padding: 10rem 0;
  &__slide {
    width: auto;
    margin-right: 8rem;
    &:last-child {
      margin-right: 0;
    }
    img {
      height: 8rem;
      width: auto;
    }
  }
  @include tab {
    padding: 2rem 2.4rem;
    &__slider {
      height: 9.2rem + 5.2;
    }
    &__wrapper {
      height: 100%;
    }
    &__slide {
      width: auto;
      margin-right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      &:last-child {
        margin-right: 0;
      }
      img {
        height: 2.6rem;
        width: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

  }
  @include mob {
    padding: 2rem 1.6rem;
    &__slider {
      height: 7.2rem + 3.2;
    }
    &__slide {
      img {
        height: 1.6rem;
      }
    }

  }
}