.about-main {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-top: 13rem;
  margin-bottom: 12rem;

  &__description {
    font-size: 4.2rem;
    width: 110rem;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
  }

  &__text {
    font-size: 1.9rem;
    width: 50rem;
    text-align: center;
    margin: 0 auto;
  }

  &__background,
  &__background--reversed {
    position: absolute;
    width: 85rem;
    height: 65rem;
    z-index: -10;
  }

  &__background {
    top: 40rem;
    right: 0;
  }

  &__background--reversed {
    top: 40rem;
    left: 0;
    transform: scale(-1, 1);
  }

  @include tab {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3.2rem;
    margin-bottom: 4rem;

    &__description {
      font-size: 2.2rem;
      width: 90vw;
      text-align: center;
      margin: 0 auto;
    }

    &__text {
      font-size: 1.6rem;
      width: 90vw;
      text-align: center;
      margin: 0 auto;
    }

    &__background,
    &__background--reversed {
      display: none;
    }
  }

  @include mob {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 3.2rem;
    margin-bottom: 4rem;

    &__description {
      font-size: 2rem;
      width: 90vw;
      text-align: center;
      margin: 0 auto;
    }

    &__text {
      font-size: 1.4rem;
      width: 90vw;
      text-align: center;
      margin: 0 auto;
    }

    &__background,
    &__background--reversed {
      display: none;
    }
  }
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 124.8rem;
  margin: 0 auto;
  padding-bottom: 10rem;

  &__title {
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__item {
    border-radius: 1.6rem;
    overflow: hidden;
  }

  &__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4.8rem 2.6rem;
    font-size: 2rem;
    font-weight: 500;
    background-color: white;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;

    &--inactive .accordion__icon {
      transform: rotate(0deg);
    }
  }

  &__button:hover {
    background-color: #f8f1ec;
  }

  &__text {
    flex-grow: 1;
    margin-left: 1rem;
  }

  &__icon {
    width: 1.6rem;
    height: 2.6rem;
    transition: transform 0.3s ease-in-out;
  }

  &__icon--mobile {
    display: none;
  }

  &__input:checked + .accordion__button .accordion__icon {
    transform: rotate(180deg);
  }

  &__input:checked ~ .accordion__panel {
    max-height: 200rem;
  }

  &__panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
    border-top: 1px solid rgb(0, 0, 0, 0.1);
  }

  &__content {
    padding: 1rem;
    font-size: 2rem;
    padding: 2.4rem;
  }

  @include tab {
    margin: 0 auto;
    width: 97vw;
    padding-bottom: 5rem;

    &__title {
      text-align: left;
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 2.4rem;
      margin-left: 1.4rem;
    }

    &__icon {
      display: none;
    }

    &__icon--mobile {
      display: block;
      width: 1.2rem;
      height: 1.2rem;
    }

    &__number {
      display: none;
    }

    &__button {
      padding: 2.4rem 1.4rem 2.4rem 0.5rem;
      font-size: 1.4rem;
      background-color: #fff;
    }

    &__button:hover {
      background-color: transparent;
    }

    &__input:checked + .accordion__button .accordion__icon--mobile {
      transform: rotate(180deg);
    }

    &__content {
      padding: 1.4rem;
      font-size: 1.6rem;
      padding: 2.4rem;
    }
  }

  @include mob {
    margin: 0 auto;
    width: 99vw;
    padding-bottom: 3rem;

    &__title {
      text-align: start;
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 2.4rem;
      margin-left: 1.4rem;
    }

    &__icon {
      display: none;
    }

    &__icon--mobile {
      display: block;
      width: 1rem;
      height: 1rem;
    }

    &__number {
      display: none;
    }

    &__button {
      padding: 2.4rem 1.4rem 2.4rem 0.5rem;
      font-size: 1.4rem;
      background-color: #fff;
    }

    &__button:hover {
      background-color: transparent;
    }

    &__input:checked + .accordion__button .accordion__icon--mobile {
      transform: rotate(180deg);
    }

    &__content {
      padding: 1rem;
      font-size: 1.4rem;
      padding: 2.4rem;
    }
  }
}
