.banner-404 {
  padding: 0 3.2rem;
  &__inner {
    background-color: $green;
    border-radius: 3.2rem;
    overflow: hidden;
    position: relative;
    padding: 4.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__bg {
    position: absolute;
    right: 40rem;
    top: 0rem;
    z-index: 1;
    width: 55rem;
  }
  &__content {
    width: 51.5rem;
    position: relative;
    z-index: 2;
  }
  @include tab {
    padding: 0;
    &__inner {
      border-radius: 2rem;
      padding: 10.3rem 2.4rem;
    }
    &__bg {
      right: -13.7rem;
      top: 0rem;
      width: 35.5rem;
    }
    &__content {
      width: 18.7rem;
    }
  }
  @include mob {
    padding: 0;
    &__inner {
      border-radius: 2rem;
      padding: 5.3rem 1.6rem;
    }
    &__bg {
      right: -13.7rem;
      top: 0rem;
      width: 35.5rem;
    }
    &__content {
      width: 18.7rem;
    }
  }
}

.content-404 {
  padding-top: 10rem;
  margin-bottom: 6rem;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    width: 97.2rem;
    margin: 0 auto;
    text-align: center;
  }
  &__mtitle {
    font-size: 4.2rem;
    font-weight: 500;
  }
  &__text {
    font-size: 1.8rem;
  }
  .btn9 {
    font-size: 2rem;
    padding: 1.7rem 3.3rem;
    border-radius: 2rem;
  }
  @include tab {
    margin-bottom: 4rem;
    padding-top: 4rem;
    &__inner {
      padding: 0 2.4rem;
      gap: 2.4rem;
      width: 100%;
    }
    &__mtitle {
      font-size: 2rem;
    }
    &__text {
      font-size: 1.8rem;
    }
    .btn9 {
      font-size: 1.6rem;
      padding: 1.4rem 2.8rem;
      border-radius: 1.2rem;
    }
  }
  @include mob {
    margin-bottom: 4rem;
    &__inner {
      padding: 0 2.4rem;
      gap: 2.4rem;
      width: 100%;
    }
    &__mtitle {
      font-size: 1.8rem;
    }
    &__text {
      font-size: 1.4rem;
    }
    .btn9 {
      font-size: 1.4rem;
      padding: 1.1rem 2.8rem;
      border-radius: 0.8rem;
    }
  }
}

.links-404 {
  margin-bottom: 10rem;
  &__title {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 2.4rem;
  }
  &__list {
    li {
      margin-bottom: 1.2rem;
    }
    a {
      font-size: 1.8rem;
      color: $linkblue;
    }
  }
  @include tab {
    display: none;
  }
}