.contact-map-feedback {
  display: flex;
  gap: 3.2rem;
  margin-bottom: 6rem;
  &>* {
    flex: 1;
  }
  @include tab {
    flex-direction: column;
  }
}
.contacts-page-wrapper {
  .container .container {
    width: 100%;
    padding: 0;
  }
  @include tab {
    .container {
      padding: 0;
    }
  }
}

.contact-map {
  &__mtitle {
    margin-bottom: 3.2rem;
  }
  &__map {
    margin-bottom: 3.2rem;
    position: relative;
    #contact-map {
      height: 32rem;
      border-radius: 3.2rem;
      overflow: hidden;
    }
  }
  &__show-on-map {
    display: flex;
    gap: 1.6rem;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 2.4rem;
    left: 2.4rem;
    z-index: 40;
    width: calc(100% - 4.8rem);
    font-size: 1.8rem;
    background-color: $white;
    border-radius: 1.6rem;
    padding: 1.6rem;
    .linkblue {
      font-size: 1.6rem;
      color: $linkblue;
      cursor: pointer;
    }
  }
  &__content {
    display: flex;
    gap: 3.2rem;
  }
  &__left {
    flex: 1;
  }
  &__right {
    flex: 1;
  }
  &__subtitle {
    margin-bottom: 2.4rem;
  }
  &__mid {
    display: none;
  }
  @include tab {
    background-color: $white;
    @include block-shadow2;
    border-radius: 0 0 2rem 2rem;
    &__inner {
      display: flex;
      flex-direction: column-reverse;
    }
    &__mtitle.h1 {
      font-size: 1.8rem;
      margin-bottom: 2.4rem;
      padding: 0 2.4rem;
      @include mob {
        padding: 0 1.6rem;
      }
    }
    &__map {
      margin-bottom: 0;
      padding: 2.4rem;
      #contact-map {
        height: 12rem;
        border-radius: 0.8rem;
      }
      @include mob {
        padding: 1.6rem;
      }
    }
    &__show-on-map {
      position: static;
      width: 100%;
      font-size: 1.8rem;
      background-color: transparent;
      border-radius: 0;
      padding: 0;
      margin-bottom: 2rem; 
      .linkblue {
        font-size: 1.4rem;
      }
      .text {
        display: none;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    &__mid {
      display: block;
      margin-bottom: 1.7rem;
    }
    &__left {
      flex: 1;
      padding: 2.4rem;
      border-bottom: 0.1rem solid $lightgrey;
      .user-contact__item--local {
        margin-bottom: 0;
      }
      @include mob {
        padding: 1.6rem;
      }
    }
    &__right {
      flex: 1;
      padding: 2.4rem;
      border-bottom: 0.1rem solid $lightgrey;
      @include mob {
        padding: 1.6rem;
      }
    }
    &__subtitle {
      margin-bottom: 0.8rem;
    }
  }
}

.contact-feedback {
  &__mtitle {
    margin-bottom: 3.2rem;
  }
  &__inner {
    border-radius: 2rem;
    background-color: $paleblue;
    padding: 3.2rem;
  }
  &__label {
    display: block;
    width: 100%;
    margin-bottom: 2.4rem;
    input, textarea {
      width: 100%;
      padding: 1.4rem 1.6rem;
      border-radius: 1.2rem;
      background-color: $white;
      &::placeholder {
        color: rgba(0, 0, 0, 0.40);
      }
    }
    textarea {
      height: 10rem;
    }
  }
  &__actions {

    margin-top: 3.2rem;
  }
  &__send {
    width: 100%;
    margin-bottom: 2.4rem;
  }
  &__police {
    text-align: center;
    color: $darkgrey;
    font-size: 1.4rem;
  }
  @include tab {
    &__mtitle {
      margin-bottom: 2.4rem;
      padding: 0 2.4rem;
      @include mob {
        padding: 0  1.6rem;
      }
    }
    &__inner {
      border-radius: 1.2rem;
      background-color: $paleblue;
      padding: 2.4rem;
      @include mob {
        padding: 1.6rem;
      }
    }
    &__label {
      margin-bottom: 0.8rem;
      input, textarea {
        font-size: 1.2rem;
        padding: 1.5rem 0.8rem;
        border-radius: 0.8rem;
      }
      textarea {
        height: 4.6rem;
      }
    }
    &__actions {
      margin-top: 2.4rem;
    }
    &__send {
      width: 100%;
      margin-bottom: 0.8rem;
    }
    &__police {
      font-size: 1.2rem;
    }

  }
}

.contact-requisites {
  margin-bottom: 6rem;
  &__head {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
  }
  &__mtitle {
    margin-right: auto;
  }
  &__inner {
    background-color: $white;
    border-radius: 2rem;
    padding: 3.2rem;
    @include block-shadow2;
  }
  &__item {
    padding: 2.4rem 0;
    border-bottom: 0.1rem solid $lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.hide {
      display: none;
    }
  }
  &__name {
    flex: 3;
    font-size: 1.8rem;
    font-weight: 500;
    color: $darkgrey;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    img {
      width: 2rem;
      height: 2rem;
      flex-shrink: 0;
    }
  }
  &__value {
    font-size: 1.8rem;
    flex: 7;
    a {
      color: $linkblue;
    }
  }
  &__more {
    margin-top: 2.4rem;
  }
  &__more2 {
    display: none;
  }
  @include tab {
    margin-bottom: 6rem;
    &__head {
      margin-bottom: 2.4rem;
      .open-more {
        background-color: transparent;
        padding: 0;
      }
      .open-more .str {
        display: none;
      }
      .open-more svg {
        margin: 0;
      }
      padding: 0 2.4rem;
      @include mob {
        padding: 0 1.6rem;
      }
    }
    &__mtitle.h1 {
      font-size: 1.8rem;
    }
    &__inner {
      border-radius: 1.2rem;
      padding: 2.4rem;
      @include mob {
        padding: 1.6rem;
      }
    }
    &__list {
      border-bottom: 0.1rem solid $lightgrey;
      margin-bottom: 1.6rem;
    }
    &__item {
      padding: 0.8rem 0;
      border-bottom: none;
      display: block;
    }
    &__name {
      font-size: 1.2rem;
      margin-bottom: 0.8rem;
    }
    &__value {
      font-size: 1.4rem;
    }
    &__more {
      display: none;
    }
    &__more2 {
      display: flex;
      width: 100%;
    }
  }
}