.user-reviews {
  &__mtitle {
    margin-bottom: 2.4rem;
  }
  .review-stars {
    margin-bottom: 3.2rem;
  }
  @include tab {

    &__mtitle {
      font-size: 1.8rem;
      margin-bottom: 0.8rem;
      padding: 0 2.4rem;
    }
    .review-stars {
      margin-bottom: 1.6rem;
    }
  }
  @include mob {
    &__mtitle {
      padding: 0 1.6rem;
    }
  }
}
.review-stars {
  .user-rating {
    margin-bottom: 0.8rem;
  }
  &__top {
    margin-bottom: 2.4rem;
  }
  &__inner {
    display: flex;
    gap: 3.6rem;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    flex-grow: 1;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
    svg {
      width: 11.6rem;
      height: 2rem;
      object-fit: contain;
      flex-shrink: 0;
    }
  }
  &__line {
    height: 0.2rem;
    flex-grow: 1;
    background-color: $lightgrey;
  }
  &__info {
    flex-shrink: 0;
    width: 31.8rem;
    background-color: $paleorange;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
    border-radius: 2rem;
  }
  &__info-title {
    text-align: center;
  }
  &__leave-review {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem;
    border-radius: 2rem;
    color: $white;
    background-color: $orange;
    font-weight: 700;
    &.mob {
      display: none;
    }
  }
  &__out {
    display: none;
  }
  @include tab {
    padding: 2.4rem;
    background-color: $white;
    border-radius: 1.2rem;
    @include block-shodow2-mob;
    .user-rating {
      margin-bottom: 0.8rem;
    }
    &__top {
      margin-bottom: 2.4rem;
    }
    &__inner {
      display: block;
    }
    &__subtitle {
      font-size: 1.4rem;
    }
    &__item {
      svg {
        width: 9.2rem;
        height: 1.6rem;
      }
    }
    &__info {
      display: none;
    }
    &__out {
      display: flex;
      padding: 0 2.4rem;
      margin-bottom: 3.2rem;
    }
    &__leave-review {
      margin-top: 1.6rem;
      display: flex;
      background-color: $green2;
      padding: 1.1rem;
      border-radius: 0.8rem;
      font-size: 1.4rem;
      font-weight: 500;
      margin-top: 0;
    }
  }
  @include mob {
    padding: 1.6rem;
    &__out {
      display: flex;
      padding: 0 1.6rem;
    }
  }
}

.review-sort {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  &__item {
    &.active {
      font-weight: 500;
    }
  }
  @include tab {
    font-size: 1.4rem;
    padding: 0 2.4rem;
  }
  @include mob {
    font-size: 1.2rem;
    padding: 0 1.6rem;
  }
}

.review-list {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  &__head {
    display: flex;
  }
  &__warning {
    margin-left: auto;
    color: $darkgrey;
    width: 2.4rem;
    height: 2.4rem;
    flex-shrink: 0;
    cursor: pointer;
    svg {
      @include img-cover;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 3.2rem;
    background-color: $white;
    border-radius: 2rem;
    @include block-shadow2;
  }
  &__content {
    font-size: 1.8rem;
    &.hide {
      display: none;
    }
  }
  &__likes {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }
  &__like {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    &.active {
      svg {
        color: $green;
      }
    }
    svg {
      width: 2.4rem;
      height: 2.4rem;
      object-fit: contain;
      color: $darkgrey;
      transition: color 200ms ;
      &:hover {
        color: $black;
      }
    }
  }
  &__answers {
    padding-left: 3.2rem;
    padding-top: 1.6rem;
    border-top: 0.1rem solid $lightgrey;
  }
  &__edit {
    margin-left: auto;
    color: $darkgrey;
    width: 2.4rem;
    height: 2.4rem;
    flex-shrink: 0;
    cursor: pointer;
    svg {
      @include img-cover;
    }
  }
  &__edit-answer {
    &.hide {
      display: none;
    }
  }
  &__rating {
    display: none;
  }
  @include tab {
    &__head {
      display: block;
      position: relative;
      padding-right: 3rem;
      .user-head {
        margin-bottom: 1.6rem;
        .user-rating {
          display: none;
        }
      }
    }
    &__warning,
    &__edit {
      position: absolute;
      right: 0;
      top: 0;
      width: 2rem;
      height: 2rem;
    }
    &__list {
      gap: 2.4rem;
    }
    &__item {
      gap: 0.8rem;
      padding: 2.4rem;
    }
    &__content {
      font-size: 1.4rem;
    }
    &__like {
      font-size: 1.2rem;
      svg {
        width: 2rem;
        height: 2rem;
      }
    }
    &__to-answer {
      padding-top: 1.6rem;
      border-top: 0.1rem solid $lightgrey;
    }
    &__answers {
      padding-left: 1.6rem;
    }
    &__rating {
      display: flex;
      margin-bottom: 0;
      margin-top: 0.8rem;
    }
  }
  @include mob {
    &__item {
      padding: 1.6rem;
    }
  }
}

.review-to-answer {
  &__content {
    &.hide {
      display: none;
    }
  }
  &__input {
    height: 5rem;
    padding: 1.3rem 1.6rem;
    border-radius: 2rem;
    background-color: $bckgrnd2;
    width: 57.2rem;
    margin-bottom: 1.6rem;
  }
  &__btns {
    display: flex;
    gap: 1.6rem;
  }
  &__open {
    &.hide {
      display: none;
    }
  }
  @include tab {
    &__input {
      padding: 1rem 1.2rem;
      border-radius: 1.6rem;
      width: 100%;
    }
    &__btns {
      flex-direction: column;
      gap: 0.8rem;
    }
    &__open {
      width: 100%;
      button {
        width: 100%;
      }
    }
  }
}