@@include("../blocks/modules/header/header.html")

<div class="main-wrapper">
  @@include("../blocks/modules/UI/brc.html", { text: ['FAQ'] })

  <div class="faq-heading">
    <img class="faq-heading__image" src="img/faq-bg.jpg" alt="" />
    <h1 class="faq-heading__title">FAQ</h1>
    <p class="faq-heading__text">
      Если у вас есть вопросы по продуктам компании, сотрудничеству или хотите
      стать частью нашей команды, оставьте контакты и мы свяжемся с вами.
    </p>
  </div>

  @@include("../blocks/modules/UI/accordion.html")
  @@include("../blocks/modules/faq/form.html")
</div>

@@include("../blocks/modules/footer/footer.html")
