@@include("../blocks/modules/header/header.html")

<div class="main-wrapper">
  @@include("../blocks/modules/first-screen/index.html")
  @@include("../blocks/modules/catalog-update/index.html")
  @@include("../blocks/modules/partners/index.html")
  @@include("../blocks/modules/banner-social/index.html")
  @@include("../blocks/modules/main-help/index.html")
  @@include("../blocks/modules/main-advantages/index.html")
  @@include("../blocks/modules/news/main.html")
</div>

@@include("../blocks/modules/footer/footer.html")