<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  @@include("../blocks/modules/header/header.html")

  <button class="btn1">button</button>
  <button class="btn2">button</button>
  <button class="btn3">button</button>
  <button class="btn4">button</button>
  <button class="btn5">button</button>
  <button class="btn6">button</button>
  <button class="btn7">button</button>
  <button class="btn8">button</button>
  <button class="btn9">button</button>
  <button class="btn10">button</button>
  <button class="btn11">button</button>
  <button class="btn12">button</button>
  <button class="btn13">button</button>
  <button class="btn14">button</button>
  <button class="btn15">button</button>
  <button class="btn16">button</button>
  <button class="tag1">tag1</button>
  <button class="tag2">tag2</button>
  <button class="tag3">tag1</button>
  <button class="tag-torg">tag2</button>
  <button class="tag-torg2">tag2</button>
  <button class="tag-user">tag2</button><br>

  <div class="tag-torg tag-torg--with">
    <svg>
      <use xlink:href="img/sprites/sprite.svg#check-mark-circle"></use>
    </svg>
    tag-torg tag-torg--with
  </div>

  <div class="tag-torg tag-torg--bez">
    <svg>
      <use xlink:href="img/sprites/sprite.svg#radix-current"></use>
    </svg>
    tag-torg tag-torg--bez
  </div>

  <span class="tag-torg2">
    <svg>
      <use xlink:href="img/sprites/sprite.svg#check-mark-circle"></use>
    </svg>
    tag-torg2
  </span>

  <span class="tag-torg">
    <svg>
      <use xlink:href="img/sprites/sprite.svg#check-mark-circle"></use>
    </svg>
    tag-torg
  </span>
  <br>
  <span class="my-tag">
    <svg>
      <use xlink:href="img/sprites/sprite.svg#check-mark-circle"></use>
    </svg>
    my-tag my-tag default
  </span>
  <span class="my-tag my-tag--border">
    <svg>
      <use xlink:href="img/sprites/sprite.svg#x"></use>
    </svg>
    Удалить автоплатеж
  </span>
  <span class="my-tag my-tag--purple">
    <svg>
      <use xlink:href="img/sprites/sprite.svg#gold-medal-currentColor"></use>
    </svg>
    Purple
  </span>
  <span class="my-tag my-tag--orange">
    <svg>
      <use xlink:href="img/sprites/sprite.svg#timer-error-currentColor"></use>
    </svg>
    Orange
  </span>
  <span class="my-tag my-tag--green">
    <svg>
      <use xlink:href="img/sprites/sprite.svg#check-mark-circle"></use>
    </svg>
    Green
  </span>
  <div class="card__price">
    <span class="my-tag my-tag--no-price">
      <svg>
        <use xlink:href="img/sprites/sprite.svg#ruble"></use>
      </svg>
      Договорная
    </span>
  </div>
  <span class="my-tag my-tag--red">
    <svg>
      <use xlink:href="img/sprites/sprite.svg#decrease-circle-currentColor"></use>
    </svg>
    Red
  </span>
  <span class="my-tag my-tag--blue">
    <svg>
      <use xlink:href="img/sprites/sprite.svg#caution-sign-circle"></use>
    </svg>
    Blue
  </span>
  <span class="my-tag my-tag--blue">
    <svg>
      <use xlink:href="img/sprites/sprite.svg#true-user"></use>
    </svg>
    Blue
  </span>
  <span class="my-tag my-tag--blue my-tag--transparent">
    <svg>
      <use xlink:href="img/sprites/sprite.svg#caution-sign-circle"></use>
    </svg>
    Blue transparent
  </span>
  <span class="my-tag my-tag--blue my-tag--transparent">
    <svg>
      <use xlink:href="img/sprites/sprite.svg#true-user"></use>
    </svg>
    Blue transparent
  </span>

  <br>

  <button class="open-more"><span class="str">Показать все</span>
    <svg>
      <use xlink:href="img/sprites/sprite.svg#open-more"></use>
    </svg>
  </button>

  <button class="open-more2"><span class="str">Показать все</span>
    <svg>
      <use xlink:href="img/sprites/sprite.svg#arrow-down"></use>
    </svg>
  </button>

  <div class="preloader-more display-none" id="preloader-more1">
    <div class="preloader-more__inner">
      <div class="preloader-more__img-bgs">
        <img src="img/liner.jpg" alt="">
      </div>
      <div class="preloader-more__img">
        <svg width="116" height="180" viewBox="0 0 116 180" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M60.8978 0H0V54.6264L33.2536 75.6259C45.7394 83.5106 53.3107 97.2463 53.3107 112.013V129.054L21.0227 109.834C7.98718 102.075 0 88.025 0 72.8548V105.572L33.2536 126.571C45.7394 134.456 53.3107 148.192 53.3107 162.959V180L21.0227 160.78C7.98718 153.02 0 138.971 0 123.8V181H116V0H60.8978ZM60.8978 0L71.0515 15.1385C79.5018 27.7373 80.6947 43.8545 74.1912 57.56L58.0824 91.5076L48.59 77.3551C40.3643 65.0912 39.001 49.4663 44.9783 35.9632L60.8978 0ZM82.3899 75.6259L115.643 54.6264V72.8548C115.643 88.025 107.656 102.075 94.6208 109.834L62.3328 129.054V112.013C62.3328 97.2463 69.9041 83.5106 82.3899 75.6259ZM82.3899 126.571L115.643 105.572V123.8C115.643 138.971 107.656 153.02 94.6208 160.78L62.3328 180V162.959C62.3328 148.192 69.9041 134.456 82.3899 126.571Z" fill="white"/>
        </svg>
      </div>
    </div>
  </div>
  @@include("../blocks/modules/footer/footer.html")
</body>
</html>