.agreement {
  padding: 2rem 0 10rem;
  &__mtitle {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 4rem;
  }
  &__content {
    font-size: 1.8rem;
    p {
      margin-bottom: 3.2rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__more {
    display: none;
  }
  @include tab {
    padding: 1rem 0 4rem;
    .container {
      padding: 0;
    }
    &__inner {
      background-color: $white;
      @include block-shadow2;
      border-radius: 1.2rem;
    }
    &__mtitle {
      font-size: 1.8rem;
      margin-bottom: 4rem;
      padding: 0 2.4rem;
      @include mob {
        padding: 0 1.6rem;
      }
    }
    &__content {
      font-size: 1.4rem;
      padding: 0 2.4rem;
      *.hide {
        display: none;
      }
      @include mob {
        padding: 0 1.6rem;
      }
      p {
        margin-bottom: 1.8rem;
      }
    }
    &__more {
      display: flex;
      justify-content: center;
      margin-top: 1.6rem;
      padding: 1.7rem;
      border-top: 0.1rem solid $lightgrey;
    }
  }
}