.card-ad-user {
  padding: 2.4rem;
  border-radius: 2rem;
  background-color: $white;
  @include block-shadow1;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.4rem;
  }
  &__price {
    font-size: 2.4rem;
    font-weight: 700;
    white-space: nowrap;
  }
  &__tags {
    margin-bottom: 2.4rem;
  }
  &__user-tags {
    margin-bottom: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__mine {
    margin-top: 1.6rem;
    color: $linkblue;
    font-size: 1.4rem;
    text-decoration: underline;
  }
  @include tab {
    padding: 0 2.4rem;
    box-shadow: none;
    border-radius: 0;
    &__top,
    &__tags,
    .user-contact {
      display: none;
    }
    .user-head {
      margin-top: 2.4rem;
    }
    .to-seller {
      padding: 3.2rem 2.4rem;
      padding-bottom: 0;
      position: relative;
      left: -2.4rem;
      width: 100vw;
      background-color: $bckgrnd2;
    }
  }
  @include mob {
    padding: 0 1.6rem;
    .user-head {
      margin-top: 1.6rem;
    }
    .to-seller {
      padding: 3.2rem 1.6rem;
      padding-bottom: 0;
      left: -1.6rem;
    }
    &__user-tags {
      .tag-user {
        font-size: 1.2rem;
      }
    }
  }
}