.thanks {
  &__img {
    position: absolute;
    width: 123rem;
    right: -1rem;
    top: 5rem;
    z-index: 1;
  }
  &__inner {
    position: relative;
    z-index: 2;
    padding-left: 19rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem;
  }
  &__mtitle {
    font-size: 4.2rem;
    font-weight: 500;
  }
  &__title {
    font-size: 2.4rem;
    font-weight: 500;
  }
  &__text  {
    font-size: 1.8rem;
    font-weight: 500;
    a {
      color: $linkblue;
    }
  }
  @include tab {
    &__img {
      position: absolute;
      width: 100%;
      right: 0;
      bottom: 0;
      top: auto;
    }
    &__inner {
      padding-left: 0;
      align-items: center;
      gap: 1.6rem;
      text-align: center;
    }
    &__mtitle {
      font-size: 1.8rem;
    }
    &__title {
      font-size: 1.4rem;
    }
    &__text  {
      font-size: 1.2rem;
    }
    .btn12 {
      margin-top: 1.6rem;
    }
  }
}