.payment-details {
  display: flex;

  &__wrapper {
    width: 60rem;
    margin-left: 17rem;
    margin-bottom: 13.8rem;
    margin-top: 6rem;
  }

  h2 {
    font-weight: 500;
    font-size: 2rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;
  }

  &__cards-section,
  &__accs-section {
    border-bottom: 1px solid #e5e5e5;
  }

  &__accs-section {
    margin-top: 3.2rem;
  }

  &__auto-section {
    margin-top: 3.2rem;

    p {
      font-size: 1.8rem;
      color: #8c8c8c;
    }
  }

  &__card-list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__card {
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 1.6rem;
    padding: 1.6rem;

    .card-type {
      margin-top: 1.2rem;
    }

    img {
      width: 7rem;
      height: 3rem;
    }
  }

  &__acc {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background-color: #f8f8f8;
    border-radius: 1.6rem;
    padding: 1.6rem;
    margin-bottom: 2.4rem;
  }

  &__add-card {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin: 2.4rem 0rem;

    span {
      font-size: 1.6rem;
      color: #8c8c8c;
    }

    img {
      display: inline;
      width: 2.4rem;
      height: 2.4rem;
    }

    @include tab {
      gap: 0.8rem;

      span {
        font-size: 1.4rem;
      }
    }
  }

  &__desktop-button {
    span {
      color: #0084cf;
      font-size: 1.6rem;
    }

    img {
      display: none;
    }
  }

  &__toggle-mob {
    display: none;
  }

  @include tab {
    flex-direction: column;

    &__wrapper {
      width: 100%;
      margin-left: 0;
      margin-bottom: 2.7rem;
      margin-top: 3.2rem;
    }

    &__cards-section,
    &__accs-section {
      border-bottom: none;
    }

    &__card {
      font-size: 1.4rem;
      color: #8c8c8c;

      img {
        width: 3rem;
        height: 2rem;
      }

      .card-type {
        display: none;
      }
    }

    &__acc {
      p {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
      }
      .acc-type {
        display: none;
      }
    }

    &__card-list {
      gap: 1.6rem;
    }

    h2 {
      font-size: 1.8rem;
    }

    &__toggle-mob {
      display: block;
    }

    &__checkboxes-desk {
      display: none;
    }

    &__desktop-button {
      span {
        display: none;
      }

      img {
        display: block;
      }
    }
  }
}
