.subscription {
  display: flex;

  @include tab {
    flex-direction: column;
  }

  &__heading {
    font-size: 2rem;
    margin: 0rem 0rem 1.7rem 0rem;

    @include tab {
      font-size: 1.8rem;
      margin: 0rem 0rem 2rem 1.6rem;
    }
  }

  &__main-wrapper {
    display: flex;
    flex-direction: column;

    @include tab {
      margin-top: 3.2rem;
    }
  }

  &__main-section {
    width: 100%;

    @include tab {
      width: 100%;
    }

    .tariff-cards {
      display: flex;
      gap: 2.4rem;
      justify-content: space-between;

      @include tab {
        display: none;
      }
    }
  }

  &__history-section {
    margin-top: 5.8rem;

    @include tab {
      margin-top: 1rem;
    }

    .history-mobile {
      display: none;

      @include tab {
        display: block;

        &__date {
          display: block;
          color: #8c8c8c;
          font-size: 1.2rem;
          font-weight: 400;
          padding-left: 1.6rem;
          padding-bottom: 0.8rem;
          border-bottom: 1px solid #e5e5e5;
        }

        &__button {
          text-align: center;
          background-color: #ecf0f4;
          border: none;
          border-radius: 0.8rem;
          padding: 1.2rem;
          margin-top: 2.4rem;
        }

        &__bot-divider {
          position: relative;
          border-top: 1px solid #e5e5e5;
          bottom: 11.4rem;
        }

        &__row {
          font-size: 1.2rem;
          padding: 1.2rem 0.8rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #f8f8f8;
          border-radius: 0.8rem;
        }

        &__main {
          display: flex;
          flex-direction: column;
          gap: 1.6rem;
          background-color: white;
          padding: 1.6rem;
          border-radius: 1.2rem;
          margin: 1.4rem 0rem 1.6rem 0rem;

          h3 {
            font-size: 1.8rem;
            font-weight: 500;
          }
        }

        &__status {
          font-size: 1.2rem;
          padding: 1.2rem;
          border-radius: 10rem;
          border: none;
          margin-bottom: 1rem;

          &--completed {
            background: #ebf4ec;
            width: 8.7rem;
          }

          &--not-completed {
            display: flex;
            align-items: center;
            gap: 0.7rem;
            background: #ffe5e4;
            width: 12.2rem;

            img {
              display: inline;
              width: 1.5rem;
              height: 1.5rem;
            }
          }
        }
      }
    }

    .subscription__history-table {
      width: 100%;

      .history-row,
      .row-titles {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
      }

      .row-titles {
        border-bottom: none;
        margin-bottom: 1.6rem;
        font-size: 1.6rem;
        background: white;
        border-radius: 2.4rem;
        box-shadow: 0 4px 10px rgba(234, 234, 234, 0.1);

        div {
          flex: 1;
          text-align: center;
          padding: 1.2rem 0.5rem;
        }
      }

      .history-row {
        font-size: 1.8rem;
        border-bottom: 1px solid #e5e5e5;
        background: white;
        align-items: center;

        &.header {
          font-weight: bold;
        }

        div {
          flex: 1;
          text-align: center;
          padding: 2.3rem 0.5rem;
        }

        button {
          padding: 1.4rem 0rem;
          width: 20rem;
          background: #ecf0f4;
          border: none;
          border-radius: 10rem;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background: #d4d7db;
          }
        }
      }

      .history-row:nth-child(2) {
        border-top-left-radius: 2.4rem;
        border-top-right-radius: 2.4rem;
      }

      .history-row:last-child {
        border-bottom-left-radius: 2.4rem;
        border-bottom-right-radius: 2.4rem;
      }

      @include tab {
        display: none;
      }
    }
  }
}

.custom-select {
  appearance: none;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 0.8rem;
  padding: 0.8rem 0rem 0.8rem 1rem;
  font-size: 1.6rem;
  color: #333;
  background-image: url("/img/sprites/accordion-arrow-mob.svg");
  background-repeat: no-repeat;
  background-position: right 1.3rem center;
  background-size: 1.2rem;
  width: 10.7rem;

  &:focus {
    outline: none;
  }

  @include tab {
    border-radius: 0.5rem;
    padding: 0.3rem 0rem 0.3rem 0.5rem;
    font-size: 1.2rem;
    background-size: 0.8rem;
    background-position: right 0.9rem center;
    width: 9.7rem;
  }
}

.subs-mob {
  display: none;
  background-color: #ebf4ec;
  padding: 0 !important;

  @include tab {
    display: block;
    border-radius: 1.6rem;

    &__inner {
      display: flex;
      width: 30rem;
      padding: 1.6rem;
      flex-direction: column;
      gap: 1.8rem;
      background-color: white;
      border-radius: 1.2rem;

      h3 {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 1.6rem;
      }

      .tariff-card {
        &__contents--wrapper {
          font-size: 1.2rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }

    &__slider {
      border-radius: 2rem;
    }

    &__slide {
      background-size: 25rem;
      background-repeat: no-repeat;
      background-position: right 0px top -1.3rem;
      align-items: end;
      padding: 20rem 1.6rem 0.7rem 1.6rem;
    }
  }
}

.pagination {
  margin: 6rem 0rem;

  @include tab {
    display: none;
  }
}

.show-more {
  display: none;

  @include tab {
    display: block;
    width: 28.8rem;
    margin: 0 1.6rem 3.2rem 1.6rem;
  }
}



.tariff-card {
  width: 40rem;
  background: #ecf0f4;
  border-radius: 1.6rem;
  padding: 25.3rem 3.2rem 3.2rem 3.2rem;
  box-shadow: 0 4px 10px rgba(174, 174, 174, 0.1);
  background-size: 33rem;
  background-repeat: no-repeat;
  background-position: right -1rem top -2.2rem;

  @include tab {
    padding: 20.9rem 1.6rem 1.6rem 1.6rem;
  }

  &__contents {
    background-color: white;
    border-radius: 2rem;
    padding: 1.6rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    h3 {
      font-size: 2rem;
      margin-bottom: 1.4rem;
    }

    button {
      width: 30.4rem;
      border-radius: 0.8rem;

      @include tab {
        width: 100%;
      }
    }
  }

  &__contents--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      &:last-child {
        font-weight: 500;
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  &--active {
    background-color: #ebf4ec;
  }

  .change-btn {
    color: #2c2c31;
    background-color: #ebf4ec;
  }
}

@include tab {
  .tariff-card {
    width: 100%;
    flex-direction: column;
    background-color: #ebf4ec;
    border-radius: 1.6rem;
    &__contents--wrapper {
      .custom-select, select {
        font-size: 1.6rem;
      }
    }
  }
}

.tariff-card-enterprise {
  margin-top: 2rem;
  padding: 2.4rem;
  padding-right: 19.6rem;
  padding-left: 4.8rem;
  border-radius: 2rem;
  background-color: #ECF0F4;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  &__koloski {
    position: absolute;
    left: 0%;
    width: 100%;
    top: 50%;
    transform: translateY(-51%);
  }
  &__img {
    position: absolute;
    left: 25%;
    width: 23rem;
    bottom: -21%;
  }
  &__title {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2.6rem;
    position: relative;
    z-index: 3;
  }
  &__content {
    background-color: #fff;
    border-radius: 2rem;
    padding: 1.6rem;
    max-width: 36.4rem;
    position: relative;
    z-index: 3;
  }
  &__text {
    margin-bottom: 0.8rem;
  }
  @include tab {
    height: auto;
    margin-top: 0;
    padding: 1.6rem;
    border-radius: 1.6rem;
    display: flex;
    align-items: flex-end;
    &__koloski {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translateY(0);
    }
    &__img {
      position: absolute;
      width: 73%;
      left: auto;
      bottom: auto;
      top: -1rem;
      right: 0;
    }
    &__title {
      font-size: 1.8rem;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 1.6rem;
    }
    &__content {
      border-radius: 1.2rem;
      max-width: 100%;
      width: 100%;
    }
    &__text {
      font-size: 1.2rem;
      margin-bottom: 2.4rem;
    }
  }
}