.catalog-wrapper {
  padding: 0 3.2rem;
  &__title {
    margin-bottom: 3.2rem;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3.2rem;
    position: relative;
  }
  &__left {
    flex-shrink: 0;
    width: 28.3rem;
    // position: sticky;
    // top: 1rem;
    // height: 100vh;
    // overflow: auto;
  }
  &__right {
    flex-grow: 1;
    padding-bottom: 7.2rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-bottom: 2.4rem;
    &--users {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3.2rem;
    }
  }
  &__stext {
    margin-top: 6rem;
    font-size: 1.4rem;
    color: $darkgrey;
  }
  &__pag {
    margin-top: 10rem;
    .btn10 {
      display: none;
    }
  }
  @include tab {
    background-color: $bckgrnd2;
    padding: 0;
    &__inner {
      display: block;
    }
    &__left {
      width: 100%;
    }
    &__right {
      width: 100%;
      padding-bottom: 2.4rem;
    }
    &__content {
      margin-bottom: 0;
      &--users {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2.4rem;
      }
    }
    &__pag {
      margin-top: 1rem;
      padding: 2.4rem;
      .pags {
        display: none;
      }
      .btn10 {
        display: flex;
        width: 100%;
      }
    }
    &__stext {
      display: none;
    }
  }
  @include mob {
    &__pag {
      padding: 2.4rem 1.6rem;
    }
  }
}