.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 300ms;
  padding: 1rem 0;
  z-index: -100;
  opacity: 0;
  &.hide {
    animation-name: modalHide;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 300ms;
    display: none;
  }
  &.active {
    animation-name: modalShow;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 300ms;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.4rem;
  }
  &__title {
    font-weight: 500;
    font-size: 2rem;
  }
  &__inner {
    margin: auto;
    position: relative;
    background-color: $white;
    padding: 3.2rem;
    min-width: 57.5rem;
    border-radius: 2rem;
  }
  &__close {
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    cursor: pointer;
    border: none;
    color: $black;
    svg {
      @include img-contain;
    }
  }
  &__content {
    position: relative;
    z-index: 2;
  }
  &--text-seller {
    .btn3 {
      width: 100%;
    }
    .textarea1 {
      width: 100%;
      height: 29.5rem;
      font-size: 1.8rem;
      border-radius: 2rem 0px 0px 2rem;
      background: $bckgrnd2;
      padding: 1.6rem;
      margin-bottom: 3.2rem;
    }
  }
  @include tab {
    padding-bottom: 0;
    &__top {
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-bottom: 0;
      padding: 1.6rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.10);
      &::before {
        content: '';
        display: inline-block;
        width: 2rem;
        height: 2rem;
      }
    }
    &__title {
      font-size: 1.4rem;
    }
    &__inner {
      margin: auto;
      margin-bottom: 0;
      padding: 0;
      min-width: auto;
      width: 100%;
      border-radius: 2rem 2rem 0 0;
    }
    &__close {
      width: 2rem;
      height: 2rem;
      svg {
        @include img-contain;
      }
    }
    &__content {
      position: relative;
      z-index: 2;
      padding: 2.4rem 2.4rem 0.8rem;
      @include mob {
        padding: 2.4rem 1.6rem 0.8rem;
      }
    }
    &--text-seller {
      .btn3 {
        width: 100%;
      }
      .textarea1 {
        height: 12rem;
        font-size: 1.2rem;
        border-radius: 0.8rem;
        padding: 0.8rem;
        margin-bottom: 1.6rem;
      }
    }
  }
}

.modal-message {
  max-width: 52.8rem;
  &__title {
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
  }
  &__content {
    font-size: 1.6rem;
    text-align: center;
  }
  @include tab {
    max-width: auto;
    &__title {
      font-size: 2rem;
      margin-bottom: 1.6rem;
    }
    &__content {
      font-size: 1.4rem;
    }
  }
}

@keyframes modalShow {
  0% {
   opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalHide {
  0% {
   opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -100;
  }
}

.make-review {
  max-width: 51.2rem;
  &__actions {
    padding-top: 1.2rem;
  }
  @include tab {
    .my-input-wrap {
      margin-bottom: 0;
    }
    &__actions {
      padding-top: 0rem;
    }
  }
}

.stars {
  display: flex;
  align-items: center;
  justify-content: center;
  &__point {
    font-size: 1.8rem;
    padding: 0 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &__inner {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
  }
  label {
    background-image: url(../img/empty-star.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    flex-shrink: 0;
    height: 5rem;
    width: 5rem;
  }

  label:hover,
  label:hover~label {
    background-image: url(../img/fill-star.svg)
  }

  input:checked~label {
    background-image: url(../img/fill-star.svg)
  }
  @include tab {
    &__point {
      font-size: 1.4rem;
      padding: 0 1.6rem;
    }
    &__inner {
      gap: 1.2rem;
    }
    label {
      height: 3rem;
      width: 3rem;
    }
  }
}