.form {
  &__content {
    padding: 3.2rem;
    background-color: #fff;
    @include block-shadow2;
    display: flex;
    flex-wrap: wrap;
    gap: 3.2rem;
    border-radius: 2rem;
  }
  &__item {
    padding: 1.6rem 1.6rem;
    width: 100%;
    &--50 {
      width: 50%;
    }
    &--33 {
      width: 33.3333%;
    }
    &--text {
      padding-top: 0.8rem;
    }
  }
  &__label {
    display: inline-block;
  }
  &__input, &__textarea {
    width: 100%;
    font-size: 1.8rem;
    background-color: $bckgrnd2;
    border: none;
    border-radius: 1.6rem;
    color: $black;
    &.error, 
    &.just-validate-error-field {
      border: 1px solid $error !important;
    }
    &::placeholder {
      color: $darkgrey;
    }
    &:hover {
    }
    &:active,
    &:focus {
    }
  }
  &__input {
    height: 4.8rem;
    padding: 1.3rem 2.4rem;
    font-size: 1.8rem;
  }
  &__textarea {
    height: 4.8rem;
    padding: 1rem 2.4rem;
    padding-top: 1rem;
    &--big {
      height: 14.6rem;
    }
  }
  &__input-error {
    color: $error;
    font-size: 1.2rem;
    padding-top: 0.4rem;
  }
  &__select {
    width: 100%;
    height: 8rem;
    padding: 1rem 3rem;
    background-color: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-shadow: 2rem 3rem 6rem rgba(15, 7, 62, 0.05);
    border-radius: 1rem;
    color: #848794;
    font: inherit;
    font-size: 1.6rem;
  }
  &__file {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    label {
      display: block;
    }
    svg {
      width: 24px;
      height: 24px;
      object-fit: contain;
      flex-shrink: 0;
    }
    &:hover {
      .form__file-area {
        background-color: $white;
      }
    }
  }
  &__file-reset {
    position: absolute;
    right: 6px;
    top: 18px;
  }
  &__file-area {
    color: $accent;
    min-height: 56px;
    display: inline-flex;
    align-items: center;
    padding: 16px 32px;
    border: 1px solid $accent;
    border-radius: 4px;
    white-space: nowrap;
    min-width: 245px;
    width: 100%;
  }

  &__file-name {
   display: inline-flex;
   flex-direction: column;
   padding-right: 5px;
   white-space: pre-line;
  }

  &__file-name.hide,
  &__file-title.hide,
  &__file-reset.hide {
    display: none;
  }

  &__police {
    margin-top: 0.5rem;
    font-size: 1.4rem;
    color: $grey;
  }

  &__text {
    font-size: 1.6rem;
    font-weight: 500;
    a {
      color: $linkblue;
    }
  }

  &__actions {
    margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
  }

  .just-validate-error-label {
    padding: 0 1.6rem;
    padding-top: 0.2rem;
    color: $error !important;
    width: 100%;
    &[data-tooltip="true"] {
      width: auto;
      color: $white !important;
    }
  }

  @include tab {
    &__content {
      padding: 2.4rem;
      gap: 2.4rem;
      border-radius: 1.2rem;
    }
    &__item {
      padding: 0.8rem 1.2rem;
      &--33 {
        width: 50%;
      }
      &--text {
        padding-top: 0.4rem;
      }
    }
  }
  @include mob {
    &__content {
      padding: 1.6rem;
      gap: 1.6rem;
    }
    &__item {
      padding: 0.8rem 0.8rem;
      &--50 {
        width: 100%;
      }
      &--33 {
        width: 100%;
      }
      &--text {
        padding-top: 0.4rem;
      }
    }
    &__label {
      font-size: 1.2rem;
    }
    &__input, &__textarea {
      font-size: 1.2rem;
    }

    &__actions {
      margin-top: 2.4rem;
    }
    &__police {
      font-size: 1.2rem;
    }
  }
}

.alert {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1500;
  display: flex;
  flex-direction: column-reverse;
  max-width: 100vw;
  &__item {
    border-radius: 4px;
    background-color: $white;
    color: $black;
    opacity: 0;
    transition: transform 300ms ease-in, opacity 300ms ease-in;
    border: 1px solid $black;
    transform: translateY(-100%);
    &:first-child {
    }
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
    &.escape {
      opacity: 0;
      transform: translateY(100%);
    }
    &.success {
      background-color: $accent;
      color: $white;
      border-color: $accent;
    }
    &.error {
      background-color: $error;
      color: $white;
      border-color: $error;
    }
  }
  @include tab {
    &__item {
    }
  }
}